body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: grid;
  position: fixed;
  background: url("./dark-wood-table-texture-datenlaborinfo-table-dark-wood-flooring-l-53f137ea81e16a85.jpg");
  background-size: cover;

  grid-template-columns: repeat(
    10,
    1fr,
    1fr,
    1fr,
    1fr,
    0.25fr,
    0.25fr,
    1fr,
    1fr,
    1fr,
    1fr
  );
  grid-auto-rows: minmax(auto, auto);
  height: 100vh;
  width: 100vw;
  align-items: center;
  text-align: center;
  grid-template-areas:
    ". . . . p3 p3 p3 . . . ."
    ". . . . p3a . p3b . . . ."
    ". . . . . . . . . . ."
    ". . . . p3c . p3d . . . ."
    ". . . . . cambio . . . . . "
    ". . . . . btn . . . . . "
    "p2 p2b p2d . . . De . p4c p4a p4"
    "p2 . . . . . . . . . p4"
    "p2 p2a p2c . Di . . . p4d p4b p4"
    ". . . . . . . . . . ."
    ". . . . p1d . p1c . . . ."
    ". . . . . . . . . . ."
    ". . . . p1b . p1a . . . ."
    ". ru . . p1 p1 p1 . . . . ";
}

#cambio {
  grid-area: cambio;
  color: white;
}

button {
  width: 80px;
  height: 35px;
  border-radius: 50px;
  grid-area: btn;
  text-align: center;
}

button:hover {
  background-color: rgb(4, 146, 189);
}

#intro {
  grid-area: btn;
  border: 1px;
}

#rules {
  width: 5%;
  height: 3%;
  top: 10%;
  left: 15%;
  position: fixed;
}
#player1 {
  grid-area: p1;
  color: white;
}
#player2 {
  grid-area: p2;
  transform: rotate(-90deg);
  color: white;
}
#player3 {
  grid-area: p3;
  color: white;
}
#player4 {
  grid-area: p4;
  transform: rotate(90deg);
  color: white;
}

#p4d {
  grid-area: p4d;
}
#p1a {
  grid-area: p1a;
}
#p1b {
  grid-area: p1b;
}
#p1c {
  grid-area: p1c;
}
#p1d {
  grid-area: p1d;
}

#p2a {
  grid-area: p2a;
  transform: rotate(90deg);
}
#p2b {
  grid-area: p2b;
  transform: rotate(90deg);
}
#p2c {
  grid-area: p2c;
  transform: rotate(90deg);
}
#p2d {
  grid-area: p2d;
  transform: rotate(90deg);
}
#p3a {
  grid-area: p3a;
}
#p3b {
  grid-area: p3b;
}
#p3c {
  grid-area: p3c;
}
#p3d {
  grid-area: p3d;
}
#p4a {
  grid-area: p4a;
  transform: rotate(90deg);
}
#p4b {
  grid-area: p4b;
  transform: rotate(90deg);
}
#p4c {
  grid-area: p4c;
  transform: rotate(90deg);
}
#p4d {
  grid-area: p4d;
  transform: rotate(90deg);
}

img {
  height: 35%;
  width: 35%;
}

#deck {
  grid-area: De;
}

#discard {
  grid-area: Di;
}

.Selected {
  border: 3px solid red;
  /* position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 5px 1px; */
}
/* 
.Selectect:hover:before{
  background:none
}
.Selected::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(50, 138, 172, 0.5);
  transition: all .3s linear;
} */
